# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

# Règles de réécriture d'URL :

# Usagers :
RewriteRule ^usagers   ressources/usagers.php
RewriteRule ^usagers/([0-9]+)$   ressources/usagers.php?id=$1

# Medecins :
RewriteRule ^medecins   ressources/medecins.php
RewriteRule ^medecins/([0-9]+)$   ressources/medecins.php?id=$1

# Consultations :
RewriteRule ^consultations   ressources/consultations.php
RewriteRule ^consultations/([0-9]+)$   ressources/consultations.php?id=$1

# Statistiques :
RewriteRule ^statistiques   ressources/statistiques.php
RewriteRule ^statistiques/([0-9]+)$   ressources/statistiques.php?id=$1